:root {
    --black: #000;
    --grey: #C0C0C0;
    --dark-grey: #9097a0;
    --light-grey: #dbe5ef;
    --extra-light-grey: #f7f9fb;
    --color-bg1: #1F6D93;
    --color-bg2: #D9EEF7;
    --color1: #1F6D93;
    --color2: #C9ECF4;
    --loader-color: #FFF;
}
